* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color: #353b48;
  --text-color: #fff;
  --main-color: #5dd4da;

  --p-font: 1.7rem;
  --medium-font: 3rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

section {
  padding: 0 15%;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.home-img {
  width: 430px;
  height: 430px;
}
.home-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.home-text {
  margin-top: 50px;
  width: 70%;
  padding: 10px;
  background: #2a2e3a;
  box-shadow: 0px 20px 40px #00000070;
  border: 1px solid #3b3b3b;
  color: var(--text-color);
  font-weight: 700;
  font-size: 15px;
}
.home-text span {
  font-size: var(--medium-font);
  color: var(--main-color);
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  color: #c3c3c3;
  line-height: 30px;
  margin-bottom: 30px;
}
/*-----SKill Section-----*/
.inner {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 50px;
}
.headers {
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
}
.headers:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: var(--main-color);
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}
.skill-box {
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}
.skill-box:hover > .skill-title:after,
.skill-box:hover > .skill-title::before {
  width: 35px;
}
.skill-box:hover img {
  transform: translateY(-10px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: var(--main-color);
  transition: 0.5s;
}
.skill-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: var(--main-color);
  transition: 0.5s;
}
.img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  border-radius: 45px 0 0 45px;
}
.skill-title h3 {
  color: #fff;
  margin-top: 1rem;
}
.skill-icon {
  width: 50px;
  z-index: 2;
}

/*--------EDUCATION SECTION-------*/
.education {
  padding-top: 80px;
  padding-bottom: 80px;
}
.education h1 {
  text-align: center;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}
.history {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.history:nth-child(1) {
  animation-delay: 0s;
}
.history:nth-child(2) {
  animation-delay: 2s;
}
.history:nth-child(3) {
  animation-delay: 4s;
}
.history:nth-child(4) {
  animation-delay: 6s;
}
.text-box {
  padding: 20px 30px;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.left-container {
  left: 0;
}
.right-container {
  left: 50%;
}
.history img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}
.right-container img {
  left: -20px;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 8s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}
.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}
.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgba(0, 0, 0, 0.3);
  right: -15px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgba(0, 0, 0, 0.3);
  left: -15px;
}
@media (max-width: 1850px) {
  section {
    padding: 0 8%;
    transition: 0.2s;
  }
  .share {
    left: 8%;
    transition: 0.2s;
  }
}
@media (max-width: 1370px) {
  section {
    padding: 0 4%;
    transition: 0.2s;
  }
  .share {
    left: 4%;
    transition: 0.2s;
  }
  :root {
    --big-font: 3rem;
    --p-font: 1rem;
    transition: 0.2s;
  }
}
@media (max-width: 1020px) {
  .navbar a {
    margin: 0 15px;
  }
  :root {
    --big-font: 2rem;
    --p-font: 1rem;
    transition: 0.2s;
  }
}
@media (max-width: 950px) {
  .share {
    display: none;
  }
  section {
    padding: 70px 4%;
  }

  .ho {
    height: 900px;
  }
  .home {
    margin-top: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .home-text {
    order: 2;
    width: auto;
  }
  .home-img {
    margin: auto;
    height: auto;
    width: auto;
  }
  .home-img img {
    max-width: 450px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 600px) {
  .home {
    justify-content: center;
  }
  .home-text {
    width: auto;
    height: auto;
  }
  .con {
    width: auto;
  }
  .skill {
    width: auto;
  }
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .icon-list-col {
    flex-wrap: wrap;
  }
  .icon-list {
    margin-top: 12px;
    align-items: center;
    text-align: center;
  }
  .history {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-container {
    left: 0;
  }
  .left-container img,
  .right-container img {
    left: 10px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid rgba(0, 0, 0, 0.3);
    border-left: 0;
    left: -15px;
  }
}
@media (max-width: 500px) {
  :root {
    --big-font: 1rem;
    --p-font: 15px;
    transition: 0.2s;
  }

  .ho {
    height: auto;
    width: auto;
  }
}
