body {
  background-color: #222327;
  background-size: cover;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  :root {
    --bg-color: #1f1f21;
    --text-color: #fff;
    --main-color: #ffae00;
}

.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  border-style: solid;
  border-color: var(--main-color);
  position: fixed;
  width: 50%;
  max-width: 330px;
  padding: 30px;
  background: #222327;
  border-radius: 10px;
  color: var(--text-color);
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: beige;
}
.form .input-group {
  position: relative;
}
.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: solid;
  border-bottom: 1px solid #29fd53;
  background-color: beige;
}
.form.input-group label {
  background-color: beige;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.submit-buton {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.forgot-password {
  color: blue;
  margin-left: 70px;
}
#forgot-password {
  background-color: #222327;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 10px;
  height: 0;
  opacity: 0;
  z-index: 1;
  transition: 0.8s;
}
#forgot-password:target {
  height: 100%;
  opacity: 1;
}
